{% load static %}
<html>
<head>


    <meta charset="utf-8">
    <title>حجوزات</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  
      {% if messages %}
{% for ms in messages %}
<div class='alert alert-{{ms.tags}}'>
{{ms}}
</div>
{% endfor %}
{% endif %} 
<style>

body{
background-image: url({% static "img/bcm.jpg" %});
font-family: Tajawal;
font-weight: bold;
}


#colorname{
color: red;
}



</style>
    
    
    
</head>
<body id='page'>
<br>
<div align="center">
<h1 >  قـائمة الحجـوزات</h1> 
</div>

<br><br>



<div id='div' style="text-align: right">
    <a id='form'  href="{% url 'regform' %}"  class="btn btn-dark"> اضافـة حجـز </a>
</div>

<br>

<form dir='ltr'>
<table border=2 ' class="table" id='tap' >
<thead class="thead-dark">
 <tr>
  <th scope="col">تحـريـر</th>
<th scope="col">رقـم الهاتـف</th>
     <th scope="col">العمــر</th>     
 <th scope="col">أسـم المريض</th>        
 </tr>
</thead>
{% for item in information %}
<tr>
 <td><a href=" {% url 'Delete' item.id %} " class="btn btn-danger">حـــذف</a>  &#160;&#160;&#160;&#160;&#160;&#160;<a href=" {% url 'Update' item.id %} " class="btn btn-primary">تعديل </a></td>

    <td>{{item.phone_number}}</td>
      <td>{{item.the_age}}</td>
    <td id='colorname'>{{item.full_name}}</td>
  

  
     
     
      
      

</tr>
{%endfor%}
</table>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
